body {
    margin: 0;
    font-family: Roboto, sans-serif;
}
.container {
    width: 85%;
    margin: auto;
}
.menu-area {
    overflow: hidden;
}
.menu-area ul {
    float: right;
    margin: 20px 10px;
}
.menu-area ul a {
    text-decoration: none;
}
.menu-area ul li:hover {
    color: #FF8063;
}
.menu-area ul li {
    float: left;
    margin-left: 40px;
    list-style: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #3C3C3C;
}
.header-area, .about-area, .project-area {
    overflow: hidden;
}

.head-text-area {
    margin-top: 20px;
}
.head-text-area h1, h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 30px;
    letter-spacing: -2px;
    color: #363958;
}
.head-text-area h2 {
    color: #FF8367;
}
.head-text-area p {
    font-size: 20px;
    line-height: 24px;
    color: #3E3E3E;
}
.button {
    color: #ffffff;
    text-decoration: none;
    padding: 12px 30px;
    font-size: 16px;
    line-height: 24px;
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    border-radius: 6px;
}
.left-width {
    width: 45%;
    float: left;
    overflow: hidden;
    padding: 10px;
}
.right-width {
    width: 45%;
    float: left;
    overflow: hidden;
    padding: 10px;
    margin-left: 20px;
}
.header-area .image-area {
    text-align: center;
}
.image-area img {
    width: 70%;
}
.about-area .image-area img {
    margin-top: -100px;
}
.about-area h3 {
    color: #363958;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
}
.about-area .text-area {
    font-size: 20px;
    line-height: 24px;
    color: #3E3E3E;
    margin-left: 50px;
}
.project-area {
    background-color: #F8F9FC;
}
.projects {
    width: 25%;
    float: left;
    height: auto;
    border: 2px white;
    border-radius: 20px;
    background: #FFFFFF;
    box-shadow: 0px 6.5812px 19.7436px rgba(0, 0, 0, 0.07);
    padding: 15px;
    margin: 150px 10px;
    margin-left: 70px;
}
.projects img {
    width: 100%;
}
.projects h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #363958;
}
.projects p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;

}
.banner p {
    display: block;
    color: #ffffff;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    width: 60%;
    margin: 100px 10px;
    text-align: center;
}
.banner img {
    width: 70%;
    margin: 100px auto;
    display: block;
}
.banner a {
    float: right;
    margin-left: 1010px;
    display: block;
    position: absolute;
    text-align: center;
    margin-top: 110px;
}
.icon-area {
    text-align: center;
}
.icon-area p {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #696871;
    margin: 10px 0;
}
.icon-area p:nth-child(2) {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #363958;
    margin: 10px 0;
}
.icon-area img {
    width: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
} 